.frame{
    @apply px-[33px] bg-white h-screen flex flex-col items-center;
}

.catalog{
    @apply w-fit py-[48px];
}

.cardContainer{
    @apply grid;
  grid-template-columns: 1fr; 
  gap: 30px;
}
.catalogTitle{
    @apply pb-[24px] text-dark_blue font-bold text-2xl  mb-[24px]  w-full text-center;
    border-bottom: 1px solid #ECECEC;
}

@media (min-width: 768px) { 
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 976px) {
    .frame{
        @apply px-[100px];
    }
    .catalog{
        @apply px-[10px];
    }

    .catalogTitle{
        @apply text-start;
    }
    .cardContainer{
        grid-template-columns: repeat(3, 1fr);
        gap:29px;
    }
}

@media(min-width: 1440px){
    .cardContainer{
        grid-template-columns: repeat(4, 1fr);
    }
    .frame{
        @apply px-[195px];
    }
}